## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [110]:
import os
import numpy as np
import pandas as pd

In [111]:
# 設定 data_path
dir_data = '../data/home_credit/'

In [112]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ../data/home_credit/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [113]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [114]:
for axe in df.axes[1]:
    print(axe, end=", ")

A, B, C, D,

#### 截取部分資料

In [116]:
df.A[2:4]

2    0.044491
3   -1.199870
Name: A, dtype: float64

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [18]:
import pandas as pd
from pandas import Series, DataFrame

In [44]:
s1 = Series(range(0,4))
s1

0    0
1    1
2    2
3    3
dtype: int64

In [45]:
s2 = Series(range(1,5))
s2

0    1
1    2
2    3
3    4
dtype: int64

In [31]:
s3 = s1 + s2
print(s3)

0    1
1    3
2    5
3    7
dtype: int64

In [34]:
df = DataFrame(s1)
df

   0
0  0
1  1
2  2
3  3

In [40]:
idx = s1.index
idx

RangeIndex(start=0, stop=4, step=1)

In [41]:
idx = df.columns
idx

RangeIndex(start=0, stop=1, step=1)

In [55]:
idx = df.index
idx

RangeIndex(start=0, stop=4, step=1)

In [47]:
b = idx.is_monotonic_decreasing
b

False

In [49]:
b = idx.is_monotonic_increasing
b

True

In [51]:
idx.has_duplicates

False

In [58]:
idx.nlevels

1

In [60]:
idx.values

array([0, 1, 2, 3], dtype=int64)

In [62]:
idx.tolist()

[0, 1, 2, 3]

In [72]:
idx = idx.astype('float64')
idx

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')

In [74]:
idx1 = pd.Index([1,2,3,4])
idx2 = pd.Index([3,4,5,6])
idx1.union(idx2)

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [83]:
df = DataFrame(np.random.randn(10,4), columns = ['A','B','C','D'])
df

          A         B         C         D
0  0.886177 -0.050417 -0.397528 -1.818315
1 -2.687601  1.010944 -0.584871  0.675527
2  0.044491 -0.944973  1.007800 -2.012075
3 -1.199870  0.442595  0.486728 -0.700198
4  0.859856 -0.357523  0.847991  0.965869
5 -0.864571 -0.446521 -0.087865 -0.292728
6  0.068443  1.263589 -0.057554 -0.183150
7  1.371856  0.550953 -1.398362 -1.416555
8 -0.447403 -1.705771  0.197865  0.272772
9 -1.679092 -0.786202 -0.947484 -1.037548

In [98]:
dfs = df.describe()
dfs

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.364771  -0.102332  -0.093328  -0.554640
std     1.269848   0.928791   0.766520   1.023868
min    -2.687601  -1.705771  -1.398362  -2.012075
25%    -1.116045  -0.701282  -0.538035  -1.321803
50%    -0.201456  -0.203970  -0.072709  -0.496463
75%     0.662003   0.523864   0.414512   0.158792
max     1.371856   1.263589   1.007800   0.965869

In [103]:
(r,c ) = df.axes
print(r)
print(c)

RangeIndex(start=0, stop=10, step=1)
Index(['A', 'B', 'C', 'D'], dtype='object')

In [119]:
df['new'] = range(len(df))
df

          A         B         C         D  new
0  0.886177 -0.050417 -0.397528 -1.818315    0
1 -2.687601  1.010944 -0.584871  0.675527    1
2  0.044491 -0.944973  1.007800 -2.012075    2
3 -1.199870  0.442595  0.486728 -0.700198    3
4  0.859856 -0.357523  0.847991  0.965869    4
5 -0.864571 -0.446521 -0.087865 -0.292728    5
6  0.068443  1.263589 -0.057554 -0.183150    6
7  1.371856  0.550953 -1.398362 -1.416555    7
8 -0.447403 -1.705771  0.197865  0.272772    8
9 -1.679092 -0.786202 -0.947484 -1.037548    9

In [121]:
df['new'] = np.repeat(np.nan, len(df))
df

          A         B         C         D  new
0  0.886177 -0.050417 -0.397528 -1.818315  NaN
1 -2.687601  1.010944 -0.584871  0.675527  NaN
2  0.044491 -0.944973  1.007800 -2.012075  NaN
3 -1.199870  0.442595  0.486728 -0.700198  NaN
4  0.859856 -0.357523  0.847991  0.965869  NaN
5 -0.864571 -0.446521 -0.087865 -0.292728  NaN
6  0.068443  1.263589 -0.057554 -0.183150  NaN
7  1.371856  0.550953 -1.398362 -1.416555  NaN
8 -0.447403 -1.705771  0.197865  0.272772  NaN
9 -1.679092 -0.786202 -0.947484 -1.037548  NaN

In [127]:
df['random'] = np.random.rand(len(df))
df

          A         B         C         D  new    random
0  0.886177 -0.050417 -0.397528 -1.818315  NaN  0.685193
1 -2.687601  1.010944 -0.584871  0.675527  NaN  0.893202
2  0.044491 -0.944973  1.007800 -2.012075  NaN  0.641778
3 -1.199870  0.442595  0.486728 -0.700198  NaN  0.727234
4  0.859856 -0.357523  0.847991  0.965869  NaN  0.814139
5 -0.864571 -0.446521 -0.087865 -0.292728  NaN  0.198431
6  0.068443  1.263589 -0.057554 -0.183150  NaN  0.219782
7  1.371856  0.550953 -1.398362 -1.416555  NaN  0.064551
8 -0.447403 -1.705771  0.197865  0.272772  NaN  0.882518
9 -1.679092 -0.786202 -0.947484 -1.037548  NaN  0.399128

In [130]:
df = df.iloc[:, 0:2]
df

          A         B
0  0.886177 -0.050417
1 -2.687601  1.010944
2  0.044491 -0.944973
3 -1.199870  0.442595
4  0.859856 -0.357523
5 -0.864571 -0.446521
6  0.068443  1.263589
7  1.371856  0.550953
8 -0.447403 -1.705771
9 -1.679092 -0.786202

In [136]:
lf = {1:[1, 3], 3:[8, 27]} 
lf[1]

[1, 3]

In [159]:
df0 = DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]}, index=[3, 2, 1])
df1 = DataFrame([[1, 2, 3,], [3, 4, 5], [6, 7, 8]], index=[3, 2, 1])

In [140]:
df1

   0  1  2
3  1  2  3
2  3  4  5
1  6  7  8

In [141]:
df1[0]

3    1
2    3
1    6
Name: 0, dtype: int64

In [142]:
df1[0:2]

   0  1  2
3  1  2  3
2  3  4  5

In [144]:
df1[0:1]

   0  1  2
3  1  2  3